@font-face {
  font-family: "SF Pro Text";
  font-weight: normal;
  src: url("../fonts/FontsFree-Net-SFProText-Regular.ttf");
}

@font-face {
  font-family: "SF Pro Text";
  font-weight: bold;
  src: url("../fonts/FontsFree-Net-SFProText-Bold.ttf");
}

body {
  font-family: "SF Pro Text";
  font-weight: bold;
  color: white;
  background-color: #eaebed;
}

main {
  width: 375px;
  height: 812px;
  background-color: #f8777d;
  border-radius: 10px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.notification-bar {
  margin: 14px 20px 0px 20px;
  height: 44px;
}

.clock {
  float: left;
}

.icons {
  float: right;
}

.management-bar {
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

.settings {
  float: left;
}

.search-add {
  float: right;
}

.segment-bar {
  font-size: 13px;
  text-transform: uppercase;
  opacity: 0.7;
}

.segment-bar ul {
  padding: 0;
  list-style: none;
}

.segment-bar ul li {
  float: left;
  min-width: 25%;
  text-align: center;
}

.segment-bar-underline {
  border-bottom: solid white 1px;
  padding: 5px;
  clear: both;
  opacity: 0.1;
}

.balance {
  clear: both;
  text-align: center;
}

.balance p:nth-child(1) {
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.5;
  margin: 12px;
}

.balance p:nth-child(2) {
  font-size: 40px;
  margin: auto;
}

.balance p:nth-child(3) {
  font-size: 16px;
}

.pagination ul li {
}

.segments {
  padding: 10px;
}

.segments ul {
  margin: 0;
  padding: 0;
}

.segments li {
  list-style: none;
  padding: 10px;
  background-color: white;
  border-radius: 7px;
  margin-bottom: 10px;
}

.segments li .segment-key {
  margin: 3px;
  font-size: 16px;
  font-weight: normal;
  color: #232C2D;
}

.segments li .segment-value-positive {
  margin: 5px;
  font-size: 28px;
  color: #65BCBF;
}

.segments li .segment-value-negative {
  margin: auto;
  font-size: 28px;
  color: #F8777D;
}