body {
  background-color: #eaebed;
  font-family: "Roboto", sans-serif;
}

.main-container {
  width: 356px;
  height: 700px;
  background-color: white;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  width: 100%;
  height: 100%;
  border: 1px solid #eaebed;
  padding: 10px;
  box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.18), 0px 6px 5px rgba(0, 0, 0, 0.24);
}

.avatar {
  width: 50px;
  height: 50px;
  margin-top: 50px;
}

.avatar img {
  width: 100%;
}

.subtitle {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}

.list {
  list-style: none;
  padding-left: 0;
}
.list li {
  padding: 5px 0;
  color: rgba(0, 0, 0, 0.87);
}

.list li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  padding: 15px 0;
  width: 100%;
  display: inline-block;
  border-radius: 4px;
}

.list li a:hover {
  color: #2196f3;
  background-color: #e3f2fd;
}

hr {
  border: 0.5px solid #e5e5e5;
}

.list li img {
  padding-left: 5px;
  padding-right: 40px;
  line-height: 52px;
}
