@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
  box-sizing:border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #eaebed;
}

.main-container {
  width: 356px;
  height: 700px;
  background-color: white;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  width: 100%;
  height: 100%;
  border: 1px solid #eaebed;
  background: #FFFFFF;
  box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.18), 0px 6px 5px rgba(0, 0, 0, 0.24);
}

.divider{
  position: relative;
  height: 1px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #E5E5E5;
}

.header{
  position: relative;
  padding: 16px;
}

.arrow-down {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='5' viewBox='0 0 10 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0L5 5L10 0H0Z' fill='black' fill-opacity='0.54'/%3E%3C/svg%3E ");  
  width: 10px;
  height: 5px;
  float: right;
  margin-top: 8px;
}

#pic{
  margin-top: 34px;
  margin-bottom: 24px;
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 0C8.96 0 0 8.96 0 20C0 31.04 8.96 40 20 40C31.04 40 40 31.04 40 20C40 8.96 31.04 0 20 0ZM20 6C23.32 6 26 8.68 26 12C26 15.32 23.32 18 20 18C16.68 18 14 15.32 14 12C14 8.68 16.68 6 20 6ZM20 34.4C15 34.4 10.58 31.84 8 27.96C8.06 23.98 16 21.8 20 21.8C23.98 21.8 31.94 23.98 32 27.96C29.42 31.84 25 34.4 20 34.4Z' fill='black' fill-opacity='0.24'/%3E%3C/svg%3E%0A");
}

section.navigation .header h3{
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
}

section.navigation .header h5{
  display: inline-block;
}

section.navigation h5{
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.6);
}

.itemlist{
  padding: 8px;
}

.itemlist ul{
  list-style: none;
}

.itemlist ul li{
  padding: 8px;
  border-radius: 4px;
  margin: 8px 0;
}

.itemlist ul li:hover{
  background: rgba(0, 0, 0, 0.04);
}

.itemlist ul li:active{
  background: #E3F2FD;
  color: #2196F3;
}

.itemlist ul li:before{
  content: url("data:image/svg+xml,%3Csvg width='14' height='18' viewBox='0 0 14 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 0H2C0.9 0 0.0100002 0.9 0.0100002 2L0 18L7 15L14 18V2C14 0.9 13.1 0 12 0Z' fill='black' fill-opacity='0.54'/%3E%3C/svg%3E%0A");
  margin-right: 2rem;
}